<form method="POST">
	<h4>Henkilötiedot:</h4>
	<p><%= @kayttaja.nimi %></p>	
	<p><%= @kayttaja.osoite %></p>
	<p><%= @kayttaja.puhelin %></p>
	<p><%= @kayttaja.email %></p>	
	
	<h4>Vapaamuotoinen hakemus:</h4>
	<p><textarea name="hakemus"></textarea></p>	
	
	<p><input type="submit" value="Lähetä"></p>
</form>

<p><%= flash[:error] %></p>
